/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.25s, transform 0.25s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

// .button-29:focus {
//   box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
// }

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #636cab 0 -3px 0 inset;
  transform: translateY(-1px);
}

.button-29:active {
  box-shadow: #bfc4f3 0 3px 7px inset;
  transform: translateY(1px);
  transition: all 0.25s linear;
  outline: none;
}

.button-component {
  border-radius: 100px;
  padding: 1.2rem 3.5rem;
  background-color: var(--bg-white);
  font-weight: 700;
  font-size: 1.6rem;
  // background-color: var(--primary-color);
  color: var(--text-white);
  height: 5rem;
  border: none;
  outline: none;

  &.no-rounded {
    border-radius: 0.4rem;
  }

  &.large {
    padding: 1.2rem 4.5rem;
    height: 6.5rem;
  }
  &.small {
    padding: 0.7rem 3.5rem;
    height: 4rem;
  }

  &.primary {
    background-color: var(--primary-color);
    color: var(--text-white);
  }
  &.secondary {
    background-color: var(--secondary-color);
    color: var(--text-white);
  }
  &.outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &:focus {
    outline: none;
  }
}
