.slider {
  overflow: hidden;
}

.slider-list {
  transition: all 0.5s;
  display: flex;
  gap: 10px;
}

.slider-item {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  position: relative;
}
